body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: rgba(1, 60, 16, 0.7);
}
nav a:hover {
    background-color: rgba(7, 124, 178, 0.7);
}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 15px 20px;
    margin: 20px 30px;
} 
footer p {
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
    background-color:rgba(7, 124, 178, 0.7);
}
.book a:hover{
    background-color:rgba(163, 208, 229, 0.7)
}

.logo {
    height: 100px;
    padding-bottom: 30px;
}
.msg a:hover{
    background-color:rgba(7, 124, 178, 0.7)
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
}
.home-grid h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}
h4 {
    font-family: fantasy;
    font-size: 28px;
}
p {
    font-family: fantasy;
    font-size: 20px;
    line-height: 40px;
}
h2 {
    margin: 5px;
    
}
.book, .join {
    background-color:rgb(221, 188, 131);
    text-decoration: none;
    font-size: 18px;
    border-radius: 3px;
    padding: 15px 30px;
    
}
main section img {
    box-sizing: border-box;
}
.home-title {
    font-size: 2em;
}
section img {
    margin-top: 40px;
}
.logo_link a {
    border-radius: 6px;
}